<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="wrap">
    <aside class="widget-area" role="complementary" aria-label="Footer">
      <div class="widget-column footer-widget-1">
        <section id="text-8" class="widget widget_text">
          <h2 class="widget-title">Find Us</h2>
          <div class="textwidget">
            <p><strong>Address</strong><br />
              <a target="_blank" href="https://goo.gl/maps/qQPEcMoYRGBEAkw67">22519 Robbins Road<br />
              Astatula, FL 34705</a></p>
            <p><strong>Email</strong><br />
              <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
          </div>
        </section>
      </div>
    </aside><!-- .widget-area -->
  </div><!-- .wrap -->
</footer><!-- #colophon -->
