<header id="masthead" class="site-header" role="banner">
  <div class="custom-header">
    <div class="custom-header-media">
      <div id="wp-custom-header" class="wp-custom-header"><img
          src="/img/chickens-on-the-farm.jpg" width="2000"
          height="1199" alt=""
          srcset="/img/chickens-on-the-farm.jpg 2000w, /img/chickens-on-the-farm-300x180.jpg 300w, /img/chickens-on-the-farm-768x460.jpg 768w, /img/chickens-on-the-farm-1024x614.jpg 1024w"
          sizes="100vw" />
        </div>
    </div>
    <div class="site-branding">
      <div class="wrap">
        <div class="site-branding-text">
          <h1 class="site-title"><a href="/" rel="home">{{ site.title }}</a></h1>
          <p class="site-description">{{ site.description }}</p>
        </div>
      </div>
    </div>
  </div>
  {% include navigation.html %}
</header>
